{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Blog
{% endblock %}
{% block content %}
<div class="hero-content">
    <span><h1 class='hero-title'>Cazari, vacante in toata lumea</h1></span>
      <div class="destinations-section">
            <div class="destinations-wrapper">
                <button class="scroll-btn left"><</button>
                  <div class="destinations-container" id="destinations">
                      {% for destination in destinations %}
                      <div class="destination-card">
                          <img src="{{ destination.image.url }}" alt="{{ destination.city }}">
                          <h3>{{ destination.city }}</h3>
                          <p>{{ destination.country }}</p>
                          <p>something</p>
                          {% if destination.accommodations < 2 %}
                            <p><strong>{{ destination.accommodations }}</strong> cazare</p>
                          {% else %}
                            <p><strong>{{ destination.accommodations }}</strong> cazări</p>
                          {% endif %}
                      </div>
                      {% endfor %}
                  </div>
                <button class="scroll-btn right">></button>
            </div>
        </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
  const container = document.getElementById('destinations');
  const leftBtn = document.querySelector('.scroll-btn.left');
  const rightBtn = document.querySelector('.scroll-btn.right');

  leftBtn.addEventListener('click', () => {
    container.scrollBy({ left: -250, behavior: 'smooth' });
  });

  rightBtn.addEventListener('click', () => {
    container.scrollBy({ left: 250, behavior: 'smooth' });
  });
});
</script>
{% endblock %}