{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Home Page
{% endblock %}
{% block content %}
    <div class="hero-section">
        <div class="hero-content">
            <h1 class='hero-title'>Cazari, vacante in toata lumea</h1>
            <form class='search-form' method="post" action="{% url 'results' %}">
            {% csrf_token %}
            <div class="location-input">
				<input type="text" name="location" placeholder="Țară,Oraș..." class="location" required>
		    </div>
            <input 
                id="trip-start"
                type="date" 
                name="trip_start"
                value="{{ today|date:'Y-m-d' }}"
                min="{{ today|date:'Y-m-d' }}"
                max="2025-12-31" 
                required />
            <button type="submit" value="">Cauta</button>
            </form>
        </div>
    </div>
{% endblock %}