
.post-container{
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.flex-col-post{
    text-align: center;
}

.flex-col-post img{
    text-align: center;
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

.flex-col-post a{
    width: 500px;
    height: 500px;
}